.site-title {
  display: inline-flex;
  align-items: center;
  background-image: url("/heritage-promotion/assets/efeteia.jpg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 28px;
}
